<div class="register">
  <h2 class="register-header">Register</h2>
  <form [formGroup]="registerForm" class="login-container" (ngSubmit)="register()">

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
      <input type="username" placeholder="Username" formControlName="username">
    </p>

    <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
      <div *ngIf="formControls.username.errors.required">username is required</div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
      <input type="email" placeholder="Email" formControlName="email">
    </p>

    <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
      <div *ngIf="formControls.email.errors.required">Email is required</div>
    </div>

<!--    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">-->
<!--      <input type="password" placeholder="Password" formControlName="password">-->
<!--    </p>-->

<!--    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">-->
<!--      <div *ngIf="formControls.password.errors.required">Password is required</div>-->
<!--    </div>-->

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password1.errors }">
      <input type="text" placeholder="Password" formControlName="password1">
    </p>

    <div *ngIf="isSubmitted && formControls.password1.errors" class="help-block">
      <div *ngIf="formControls.password1.errors.required">Password is required</div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password2.errors }">
      <input type="text" placeholder="Retype Password" formControlName="password2">
    </p>

    <div *ngIf="isSubmitted && formControls.password2.errors" class="help-block">
      <div *ngIf="formControls.password2.errors.required">Password is required</div>
    </div>

    <p>
      <input type="submit" value="Register">
    </p>
  </form>
</div>
