<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "urf-8" name = "viewport" content = "width=device-width, initial-scale=1"/>
        {% load static %}
        <link rel = "stylesheet" type = "text/css" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel = "stylesheet" type = "text/css" href = "https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css"/>
    </head>
<body>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
<script src = "https://code.jquery.com/jquery-3.3.1.js"></script>
<script src = "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#table').DataTable();
    });
</script>
</html>