<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </ul>
                {% endif %}
<h1>Welcome</h1>

<p>{{ user.username }}</p>

</body>
</html>