<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>

     <form method="POST" style="border:1px solid #ccc" enctype="multipart/form-data">
          {% csrf_token %}
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="username"><b>Username</b></label>
    <input id="username" type="text" placeholder="Enter Username" name="username" required>

      <label for="phone"><b>Phone</b></label>
    <input id="phone" type="text" placeholder="Phone Number" name="phone" required>

      <label for="groups"><b>Groups</b></label>
          <select id="groups" name="groups"  required>
              <option value="admin">admin</option>
              <option value="staff">staff</option>
        </select>

    <label for="password1"><b>Password</b></label>
    <input id="password1" type="password" placeholder="Enter Password" name="password1" required>

    <label for="password2"><b>Repeat Password</b></label>
    <input id="password2" type="password" placeholder="Repeat Password" name="password2" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button value="submit" type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>
</body>
</html>