<h2 class="container-fluid">Create a New User</h2>

<form class="container" [formGroup]="user_form" (ngSubmit)="onSubmit()">

    <label for="id_username">Username</label>
    <input id="id_username" type="text" formControlName="username" required>
    <br>
    <label for="id_email">Email</label>
    <input id="id_email" type="text" formControlName="email" required>
    <br>
    <label for="id_firstname">First Name</label>
    <input id="id_firstname" type="text" formControlName="first_name" required>
	  <br>
    <label for="id_lastname">Last Name</label>
    <input id="id_lastname" type="text" formControlName="last_name" required>
	  <br>
    <button type="submit" [disabled]="user_form.invalid">Add User</button>
</form>

<!--<ul>-->
<!--  <li *ngFor="let user of user$ | async">-->

<!--    <form (ngSubmit)="updateUser(user)">-->

<!--      Username: <input type="text" name="username" [(ngModel)]="user.username" [disabled]="!user.isEditable" />-->
<!--      <br>-->

<!--      Email: <input type="text" name="email" [(ngModel)]="user.email" [disabled]="!user.isEditable" />-->
<!--      <br>-->

<!--      Name: <input type="text" name="name" [(ngModel)]="user.name" [disabled]="!user.isEditable" />-->
<!--      <br>-->

<!--      <button *ngIf="!user.isEditable" (click)="user.isEditable=!user.isEditable">Edit</button>-->
<!--      <button type="submit" *ngIf="user.isEditable">Save</button>-->
<!--&lt;!&ndash;      <button type="button" (click)=deleteTask(task.id)>Delete</button>&ndash;&gt;-->
<!--    </form>-->

<!--  </li>-->
<!--</ul>-->
