body{
    background-color:lightgray;
}
.container{
    width: 700px;
    /* height: 780px; */
    background-color: white;
    font-family: Adelle;
    margin-top: 100px;
    box-shadow: 1px 1px 5px #999;
}
h3{
    font-weight: 700;
}
.form-control:focus{
    color: #495047;
    background-color: #fff;
    border-color:#4080ff;
    outline: 0;
    box-shadow: none;
}
.custom-file-input:focus{
    color: #495047;
    background-color: #fff;
    border-color:#4080ff;
    outline: 0;
    box-shadow: none;
}
form .error {
    color: #ff0000;
  }