<div class="container-fluid">
  <button class="btn-lg" routerLink="/users/users-add">Add User</button>
</div>
<br>
<h1>
  Users List
</h1>

<table class=" container table table-striped">

  <thead>
    <tr>
<!--      <th scope="col">Id</th>-->
      <th scope="col">Name</th>
<!--      <th scope="col">Last name</th>-->
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
<!--      <th scope="col">Details</th>-->


    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let usr of user$ ">
<!--      <td>{{ usr.id }}</td>-->
      <td>{{ usr.first_name }} {{usr.last_name}} </td>
<!--      <td>{{ usr.last_name }}</td>-->
      <td>{{ usr.username }}</td>
      <td>{{ usr.email }}</td>
      <td><button class="btn-sm btn-default btn-outline-primary " routerLink="/users/users-edit/{{usr.id}}" value="Edit">Edit</button>
        <button class=" btn-sm btn-default btn-outline-success" routerLink="/users/users-details/{{usr.id}}" value="Details">Details</button>
        <button class=" btn-sm btn-default btn-outline-danger" (click)="deleteUsers(usr.id)" value="Delete">Delete</button>
      </td>


    </tr>
  </tbody>
</table>
