{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Google Homepage</title>
        <link rel="stylesheet" href="{% static 'css/indec.css' %}">
        <meta name="viewport" content="width=100%, initial-scale=1.0">

    </head>
    <body>
        <div class="main-container" id="viewport">
            <div class="header>">
                <ul id="nav_bar">
                    <li class="gmail"><a href="#" style="color: #7D7676; font-size: 13px;">Gamil</a></li>
                    <li class="image"><a href="#" style="color: #7D7676; font-size: 13px;">Images</a></li>
                    <li id="grid_img"><img id="img_grid" src="{% static 'media/grid-2-01-512.png' %}" alt="grid" height="20px" width="20 px" href="#"></li>
                    <li id="sign_in"><a href="#" style="font-size: 15px;">Sign In</a></li>
                </ul>
            </div>
            <div class="body-content">
                <div class="google-logo" >
                     <img src="{% static 'media/googlelogo.png' %}" alt="Google"  style="padding-top: 109px;">
                </div>
                <div class="search-bar">
                    
                       <input id="srch" type="text" name="search" placeholder="Search Google">
                      
                        <img id="mic_mic" src="{% static 'media/mic.png' %}" style="height: 24px; width:24px; vertical-align:middle;">
                         
                </div>
                <div class="button-section" style="padding-top: 29px;">
                    <button id="feeling_lucky">I'm feeling Lucky</button>
                    <button id="google_search">Google Search</button>
                    <br>
                    <br>
                    <p class="offerlang" style="font-size: small;">Google offered in: <a href="#" style="color: blue">Nepali</a></p>
                </div>
            </div>   
            <div id="footer_section">
                <div class="location">
                    <span id="location_right">
                        <ul>
                            <li style="font-size: 13px; color: rgba(0, 0, 0, .54);">Nepal</li>
                        </ul>
                    </span>
                </div>
                <div style="font-size: 13px; color: rgba(0, 0, 0, .54);" id="footid" class="ad-abt">
                    <span class="footer-left">
                        <a href="#">Advertising</a>
                        <a href="#">Business</a>
                        <a href="#">About</a>
                        <a href="#">How Search Works</a>
                    </span>
                              
                    <span class="footer-right">
                        <a href="#">Privacy</a>
                        <a href="#">Terms</a>
                        <a href="#">Settings</a>
                    </span>
                </div>
            </div>

        </div>
    </body>
</html>