<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>

<div style="margin-left: 850px;">
    <div>
         <a style="text-decoration: none" href="{% url 'list' %}">
             <input type="button" value="View Book List">
         </a>
    </div>

    <div>
         <a style="text-decoration: none" href="{% url 'index' %}">
             <input type="button" value="Add New">
         </a>
    </div>
</div>

</body>
</html>