<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
<div class="container" style="text-align: center; vertical-align: middle; position: relative;">
<form id="contact" method="post" style="cellspacing: 0;">
{% csrf_token %}
<fieldset>
<input placeholder="book name" , name="book_name" type="text" tabindex="1" required autofocus>
</fieldset>
    <fieldset>
<input placeholder="author name" , name="author_name" type="text" tabindex="1" required autofocus>
</fieldset>
<fieldset>
<input placeholder="rate" type="text" name="rate" tabindex="2" required>
</fieldset>
<fieldset>
<input placeholder="quantity" type="tel" name="quantity" tabindex="3" required>
</fieldset>
<button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
</fieldset>
</form>
</div>

<div>
     <a style="text-decoration: none" href="{% url 'list' %}">
         <input type="button" value="View Book List">
     </a>
</div>

</body>
</html>
