{#{% extends base.html %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="d-flex justify-content-center">
    <a style="text-decoration: none" href="{% url 'index' %}">
            <input type="button" value="Create New">
    </a>
</div>

<div class="container d-flex justify-content-center">
        <table border="1px">
            <tr>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Rate</th>
                <th>Quantity</th>
            </tr>
            {% for book in books %}
            <tr>
                <td>{{ book.book_name }}</td>
                <td>{{ book.author_name }}</td>
                <td>{{ book.rate }}</td>
                <td>{{ book.quantity }}</td>
                <td><a style="text-decoration: none" href="/update/{{ book.id }}"><input class="close" type="button" value="Edit"></a>
                    <a style="text-decoration: none" href="/book-list/{{ book.id }}"><input name="delete" type="button" class="close" data-dismiss="alert" value="Delete"></a></td>


            </tr>
            {% endfor %}
        </table>

{#     <a href="{% views.books_create %}">Create new</a>#}
</div>

    <div class = "messages d-flex justify-content-center alert alert-success alert-warning alert-dismissible" role="alertdialog">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
<script>
    $('.alert').alert()
</script>


</body>
</html>