<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Update Books</title>
</head>
<body>
<div class="container" style="text-align: center; vertical-align: middle; position: relative;">
<form id="contact" method="post" style="cellspacing: 0;">
{% csrf_token %}
<fieldset>
<input placeholder="book name" , value="{{ book_name }}" name="book_name" type="text" tabindex="1" required autofocus>
</fieldset>
    <fieldset>
<input placeholder="author name" , value="{{ author_name }}" name="author_name" type="text" tabindex="1" required autofocus>
</fieldset>
<fieldset>
<input placeholder="rate" type="text" value="{{ rate }}" name="rate" tabindex="2" required>
</fieldset>
<fieldset>
<input placeholder="quantity" type="tel" value="{{ quantity }}" name="quantity" tabindex="3" required>
</fieldset>
<button name="Update" type="submit" id="contact-submit" data-submit="...Sending">Update</button>
</fieldset>
</form>
</div>

</body>
</html>
