@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    position: relative;
}

.header {
    background-color: #3b5998;
    background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
    height: 82px;
    width: 100%;
    position: relative;
}

.global-content {
    width: 100%;
    height: 100%;
}

.body-content {
    height: 640px;
    width: 100%;
}

.background {
    width: 100%;
    height: 616.05px;
    background-color: #edf0f5;
}

.main-body {
    width: 980px;
    height: 616.05px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fblogo {
    float: left;
}

h1 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.fblogo a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

.fb-logo {
    margin-top: 17px;
}

.facebook-img {
    width: 170px;
    height: 34px;
    background-position: 0 0;
    background-image: url(/static/media/facebook.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.logingside {
    float: right;
    font-size: 12px;
}

.inside_header {
    text-align: center;
    margin: 0 auto;
    width: 980px;
    padding-top: 13px;
}

.logingside .log_in .login_table tr {
    vertical-align: top;
}

.logingside .log_in .login_table tr td {
    padding: 0 0 0 14px;
}

td, td.label {
    text-align: left;
    font-size: 12px;
    color: white;
    font-family: 'Liberation Sans';
}

.emailphone {
    padding-bottom: 4px;
}

.password {
    padding-bottom: 4px;
    padding-inline-start: 8px;
}

.input_text {
    width: 142px;
    border-color: #1d2a5b;
    margin: 0;
    padding-bottom: 4px;
    border: 1px solid #1d2a5b;
    border-radius: 0;
    font-size: 12px;
    padding: 3px;
}

.inputemail .inputpass input {
    background-color: #fff;
    color: #1c1e2f;
    border-color: #1d2a5b;
}

.inputemail {
    padding-inline-end: 8px;
}

.inputpass {
    padding-inline-start: 8px;
}

.loginbtn {
    padding-inline-start: 14px;
    line-height: 18px;
}

#login_btn {
    background-color: #4267b2;
    border: 1px solid #ccd0d5;
    border-color: #29487d;
    padding: 2px 6px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: inline;
    color: white;
    white-space: nowrap;
}

#login_btn:hover {
    background-color: #3b5998;
}

.fgtact {
    position: absolute;
    padding-top: 4px;
    padding-inline-start: 8px;
    color: #9cb4d8;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

.fgtact:hover {
    text-decoration: underline;
}

.left_body {
    margin-top: 0;
    float: left;
    width: 565px;
    margin-right: 15.999px !important;
    height: 378px;
    display: block;
}

.right-body {
    float: right;
    margin-top: 0;
    display: block;
    width: 399px;
    margin-right: 0;
}

.div01 {
    float: left;
    display: block;
}

h2 {
    text-align: left;
    float: left;
    padding: 42px 0 24px;
    margin: 0;
    font-size: 27px;
    color: #333;
    line-height: 36px;
    display: block;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
}

.div11 {
    margin-top: 14px;
    position: relative;
    float: left;
    display: block;
    padding-bottom: 10px;
}

#img11 {
    vertical-align: middle;
}

.div12 {
    padding-bottom: 10px;
    margin-top: 14px;
    position: relative;
    float: left;
    display: block;
}

#img12 {
    vertical-align: middle;
}

.div13 {
    padding-bottom: 10px;
    margin-top: 14px;
    position: relative;
    float: left;
    display: block;
}

#img12 {
    vertical-align: middle;
}

.l11, .l12 {
    padding-inline-start: 10px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 17px;
    line-height: 22px;
    margin-top: 20px;
}

.l21, .l22 {
    vertical-align: middle;
    margin-left: 2px;
    color: #666;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Liberation Sans';
}

.l13 {
    padding-inline-start: 10px;
    vertical-align: middle;
    font-family: 'Freight, Sans Medium', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    font-size: 17px;
    line-height: 22px;
    margin-top: 20px;
    padding-bottom: 45px;
}

.l23 {
    vertical-align: middle;
    margin-left: 2px;
    color: #666;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    font-family: Liberation Sans;
    padding-bottom: 45px;
}

.itsfree {
    float: left;
    display: block;
}

.l14 {
    float: left;
    display: block;
}

.div000 {
    width: 399px;
}

h3 {
    text-align: left;
    padding-bottom: 2px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
}

.itsfree {
    margin-bottom: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    letter-spacing: 0.5px;
    font-weight: normal;
}

.formdiv {
    font-size: 12px;
    width: 399px;
    height: 410.5px;
    display: block;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: normal;
    letter-spacing: 0.1px;
}

.input-text {
    margin: 0 auto;
    margin-top: 0;
    width: 399px;
    display: inline-block;
    height: 39px;
    margin-bottom: 10px;
}

.inputfirstname {
    width: 194px;
    height: 39px;
    float: left;
    margin-right: 8px;
}

.inputlastname {
    width: 194px;
    height: 39px;
    float: right;
}

.other-input-box {
    padding: 8px 10px 8px 10px;
    height: 21px;
    width: 172px;
    border: 1px solid #bdc7d8;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    font-size: 18px;
}

.input-mob-email {
    width: 377px;
    position: relative;
}

.input-password {
    width: 377px;
    position: relative;
}

.input-first-name {
    float: left;
    height: 21px;
    width: 172px;
}

.input-last-name {
    float: right;
    height: 21px;
    width: 172px;
}

.birthdayselection {
    width: 399px;
    height: 56.4333px;
    font-size: 12px;
}

.birthdaytext {
    position: relative;
    text-align: left;
    font-size: 16px;
    width: 399px;
    color: #90949c;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.date-selector {
    position: relative;
    font-size: 12px;
    height: 30px;
    width: 399px;
    float: left;
}

.date-selection {
    width: 183px;
    height: 30px;
    float: left;
}

select {
    outline: none !important;
    color: #1c1e21;
    display: inline-block;
    border: 1px solid #ccd0d5;
    background: white;
    line-height: 15px;
    z-index: auto;
    font-size: 13px;
    position: relative;
    height: 30px;
    padding: 5px;
}

.scroll-selection {
    border: 0.5px solid #ccd0d5;
}

.help-bod {
    float: left;
    font-size: 11px;
    max-width: 150px;
    margin-left: 10px;
    margin-top: 6px;
    vertical-align: middle;
}

a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

.help-birthday {
    width: 16px;
    height: 16px;
    background-position: -22px -43px;
    background-image: url(/static/media/mixed.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.help-gender {
    width: 16px;
    height: 16px;
    background-position: -22px -43px;
    background-image: url(/static/media/mixed.png);
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 6px;
}

.gender-selection {
    width: 399px;
    height: 60.9333px;
    font-size: 12px;
    float: left;
}

.relative-position {
    position: relative;
}

.gender-text {
    position: relative;
    text-align: left;
    font-size: 16px;
    width: 399px;
    color: #90949c;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.span11 {
    width: 288px;
    height: 34.5px;
    float: left;
}

.female-select {
    border-radius: 4px;
    border-width: 1px;
    padding: 5px 0 5px 4px;
    float: left;
    width: 97px;
    height: 24.5px;
    margin-right: 4px;
}

.label111 {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 8px 10px 0 3px;
    vertical-align: middle;
    display: inline-block;
    cursor: default;
    width: 60px;
    height: 21px;
    margin-bottom: 0;
}

.gen-rad {
    font-size: 12px;
    width: 16px;
    height: 16px;
    line-height: 14px;
    float: left;
    margin: 3px 3px 0 5px;
}

.male-select {
    border-radius: 4px;
    border-width: 1px;
    float: left;
    padding: 5px 0 5px 4px;
    width: 76px;
    height: 24.5px;
}

.custom-select {
    border-radius: 4px;
    border-width: 1px;
    padding: 5px 0 5px 4px;
    width: 99px;
    height: 24.5px;
}

.termsagreement {
    height: 44.2px;
    width: 399px;
    text-align: left;
    margin: 11px 0 11px 0;
}

.paragraph {
    vertical-align: middle;
    float: left;
    color: #777;
    font-size: 11px;
    width: 316px;
    height: 44.2px;
    margin: 21px 0 11px 0;
}

p {
    margin: 1em 0;
}

.signupsection {
    width: 399px;
    height: 59.9333px;
}

.sign-up-btn {
    float: left;
    line-height: 126%;
    margin: 10px 0 10px 0;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    font-size: 19px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
    margin: 0;
    border: 1px solid;
    border-radius: 5px;
    width: 152px;
    /*height: 23.933px;*/
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}

.pages {
    text-align: left;
    float: left;
    width: 399px;
    border-top: 1px solid #dddfe2;
    color: #666;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-weight: 900;
    margin-top: 10px;
    letter-spacing: -0.83px;
    line-height: 1.34;
    padding-top: 15px;
    font-size: 13px;
}

.main-footer {
    display: block;
}

.inside-footer {
    width: 980px;
    height: 137.333px;
    color: #737373;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1.34;
    display: block;
    font-family: Arial, Helvetica, sans-serif !important;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.language-section {
    height: 20px;
    padding-top: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    vertical-align: top;
    margin-left: 0px;
}

.language-section li {
    padding-right: 11px;
}

.addlang {
    height: 18px;
    line-height: 18px;
    background-color: #f5f6f7;
    border-color: #ccd0d5;
    color: #4b4f56;
    border: 1px solid #babbbdd2;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
}

.img-add {
    width: 12px;
    height: 12px;
    background-image: url(/static/media/facebook.png);
    background-position: 0 -176px;
    bottom: 1px;
    position: relative;
    vertical-align: middle;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}

.contentCurve {
    border-bottom: 1px solid #dddfe2;
    font-size: 1px;
    height: 9px;
    margin-bottom: 8px;
    width: 980px;
    display: block;
    align-items: center;
    margin-left: 0px;
}

.body-content a:hover {
    text-decoration: underline;
}

.final-footer {
    line-height: 1.6;
    height: 57.6px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    font-size: 12px;
}

.final-footer li {
    padding-right: 20px;
    height: 19.2px;
}

.final-footer a {
    white-space: nowrap;
    line-height: 1.6;
    font-size: 12px;
    height: 14px;
}

.contentinfo {
    display: block;
}

.adchoice {
    background-image: url(/static/media/facebook.png  );
    background-size: auto;
    background-position: -102px -142px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    cursor: pointer;
    vertical-align: middle;
}

.copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    /*text-align: center;*/
    height: 14.733px;
}

.copyright-fb {
    height: 13px;
    width: 87px;
    font-size: 10px;
    line-height: 1.339;
}