<!--<h2>{{hero.name | uppercase}} Details</h2>-->
<!--<div><span>id: </span>{{hero.id}}</div>-->
<!--<div>-->
<!--  <label>name:-->
<!--    <input [(ngModel)]="hero.name" placeholder="name"/>-->
<!--  </label>-->
<!--</div>-->

<!--<h2>My Heroes</h2>-->
<!--<ul class="heroes">-->
<!--&lt;!&ndash;  <li>&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="badge">{{hero.id}}</span> {{hero.name}}&ndash;&gt;-->
<!--&lt;!&ndash;  </li>&ndash;&gt;-->
<!--  <li *ngFor="let hero of heroes" (click)="onSelect(hero)">-->
<!--</ul>-->

<!--<h3>{{selectedHero.name | uppercase}} Details</h3>-->
<!--<div><span>id: </span>{{selectedHero.id}}</div>-->
<!--<div>-->
<!--  <label>name:-->
<!--    <input [(ngModel)]="selectedHero.name" placeholder="name"/>-->
<!--  </label>-->
<!--</div>-->

<!--<div *ngIf="selectedHero">-->

<!--  <h2>{{selectedHero.name | uppercase}} Details</h2>-->
<!--  <div><span>id: </span>{{selectedHero.id}}</div>-->
<!--  <div>-->
<!--    <label>name:-->
<!--      <input [(ngModel)]="selectedHero.name" placeholder="name"/>-->
<!--    </label>-->
<!--  </div>-->

<!--</div>-->


<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
<!--<div *ngIf="selectedHero">-->

<!--  <h2>{{selectedHero.name | uppercase}} Details</h2>-->
<!--  <div><span>id: </span>{{selectedHero.id}}</div>-->
<!--  <div>-->
<!--    <label>name:-->
<!--      <input [(ngModel)]="selectedHero.name" placeholder="name"/>-->
<!--    </label>-->
<!--  </div>-->

<!--</div>-->
