<div class="container">
  <div *ngIf="user">

    <h2>{{user.username | uppercase}} Details:</h2>
    <br>
    <br>
    <div><span>Name: </span>{{user.first_name}}  {{user.last_name}}</div>
    <br>
    <div><span>Email: </span>{{user.email}}</div>
    <br>
    <div class="container-fluid">
      <button class="btn-lg shadow-sm btn-primary" routerLink="/users/users-edit/{{user.id}}">
        Edit
      </button>
    </div>
  </div>
  </div>
