{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Facebook login</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <meta name="viewport" content="width=100%, initial-scale=1.0">
</head>

<body>
    <div class="main-container">
        <div class="total-content">
            <div class="header">
                <div class="inside_header">
                    <div class="fblogo">
                        <a href="https://www.facebook.com/" title="Go to Facebook Home">
                            <i class="fb-logo facebook-img"></i></a>
                    </div>
                    <div class="logingside">
                        <form id="log_in">
                            <table id="login_table" cellspacing="0">
                                <tr>
                                    <td class="emailphone"> <label for="emailorphone">Email or Phone</label></td>
                                    <td class="password"><label for="pass">Password</label></td>
                                </tr>
                                <tr>
                                    <td class="inputemail"><input name="emailorphone" class="input_text"
                                            id="email_phone" type="text"></td>
                                    <td class="inputpass"><input name="pass" class="input_text" id="password"
                                            type="password"></td>
                                    <td class="loginbtn"><button class="log_in_btn" id="login_btn" type="button">Log
                                            In</button></td>
                                </tr>
                                <tr>
                                    <td class="empty"></td>
                                    <td class="forgotaccount">
                                        <label class="fgtact">
                                            Forgot account?
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <div class="global-content">
                <div class="body-content">
                    <div class="background">


                        <div class="main-body">
                            <div class="left_body">
                                <div class="div01">
                                    <h2>
                                        Connect with friends and the
                                        <br>
                                        world around you on Facebook.
                                    </h2>
                                </div>
                                <div class="div11">
                                    <img id="img11" src="{% static 'media/div11.png' %}">
                                    <span class="l11">See photos and updates</span>
                                    <span class="l21">from friends in News feed.</span>
                                </div>
                                <div class="div12">
                                    <img id="img12" src="{% static 'media/div12.png' %}">
                                    <span class="l12">Share what's new </span>
                                    <span class="l22">in your life on youor timeline.</span>
                                </div>
                                <div class="div13">
                                    <img id="img13" src="{% static 'media/div13.png' %}">
                                    <span class="l13">Find more </span>
                                    <span class="l23">of what you're looking for with facebook search.</span>
                                </div>
                            </div>
                            <div class="right-body">
                                <div class="div000">
                                    <div class="div00">
                                        <h3 style="font-size: 33px; margin-top:5px; margin: 0;">Sign Up</h3>
                                    </div>
                                    <div class="itsfree">
                                        <span class="l14">
                                            It's free and always will be.
                                        </span>
                                    </div>
                                    <div class="formdiv">
                                        <form class="reg">
                                            <div class="input-text">
                                                <div class="inputfirstname">
                                                    <input class="input-first-name other-input-box " type="text"
                                                        placeholder="First Name">
                                                </div>
                                                <div class="inputlastname">
                                                    <input class="input-last-name other-input-box " type="text"
                                                        placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="input-text">
                                                <input type="text" class="input-mob-email other-input-box "
                                                    placeholder="Mobile Number or Email">
                                            </div>
                                            <div class="input-text">
                                                <input type="password" class="input-password other-input-box "
                                                    placeholder="New Password">
                                            </div>
                                            <div class="birthdayselection">
                                                <div class="birthdaytext">Birthday</div>
                                                <div class="date-selector">
                                                    <span class="date-selection">
                                                        <span>
                                                            <select style="width: 68px;height: 30px;" aria-label="Month"
                                                                name="birthday_month" id="month" title="Month"
                                                                class="scroll-selection">
                                                                <option value="0">Month</option>
                                                                <option value="1">Jan</option>
                                                                <option value="2">Feb</option>
                                                                <option value="3">Mar</option>
                                                                <option value="4">Apr</option>
                                                                <option value="5">May</option>
                                                                <option value="6">Jun</option>
                                                                <option value="7" selected="1">Jul</option>
                                                                <option value="8">Aug</option>
                                                                <option value="9">Sep</option>
                                                                <option value="10">Oct</option>
                                                                <option value="11">Nov</option>
                                                                <option value="12">Dec</option>
                                                            </select>
                                                            <select style="width: 48px;height: 30px;" aria-label="Day"
                                                                name="birthday_day" id="day" title="Day"
                                                                class="scroll-selection">
                                                                <option value="0">Day</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19" selected="1">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                            </select>
                                                            <select style="width:58px;height:30px;" aria-label="Year"
                                                                name="birthday_year" id="year" title="Year"
                                                                class="scroll-selection">
                                                                <option value="0">Year</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2018">2018</option>
                                                                <option value="2017">2017</option>
                                                                <option value="2016">2016</option>
                                                                <option value="2015">2015</option>
                                                                <option value="2014">2014</option>
                                                                <option value="2013">2013</option>
                                                                <option value="2012">2012</option>
                                                                <option value="2011">2011</option>
                                                                <option value="2010">2010</option>
                                                                <option value="2009">2009</option>
                                                                <option value="2008">2008</option>
                                                                <option value="2007">2007</option>
                                                                <option value="2006">2006</option>
                                                                <option value="2005">2005</option>
                                                                <option value="2004">2004</option>
                                                                <option value="2003">2003</option>
                                                                <option value="2002">2002</option>
                                                                <option value="2001">2001</option>
                                                                <option value="2000">2000</option>
                                                                <option value="1999">1999</option>
                                                                <option value="1998">1998</option>
                                                                <option value="1997">1997</option>
                                                                <option value="1996">1996</option>
                                                                <option value="1995">1995</option>
                                                                <option value="1994" selected="1">1994

                                                                </option>
                                                            </select>
                                                        </span>
                                                    </span>
                                                    <a class="help-bod" id="birthday-help" href="#"
                                                        title="Click for more information" role="button">
                                                        <i class="help-birthday"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gender-selection relative-position" id="gender_section">
                                                <div style="height: 21.4333px;" class="gender-text">Gender</div>
                                                <span class="span11">
                                                    <span class="female-select">
                                                        <input class="gen-rad" type="radio" name="sex" id="femaleradio">
                                                        <label style="width: 60px;" class="label111"
                                                            for="femaleradio">Female</label>
                                                    </span>
                                                    <span class="male-select">
                                                        <input class="gen-rad" type="radio" name="sex" id="maleradio">
                                                        <label style="width: 39px;" class="label111"
                                                            for="maleradio">Male</label>
                                                    </span>
                                                    <span class="custom-select" style="float: right;">
                                                        <input class="gen-rad" type="radio" name="sex" id="customradio">
                                                        <label style="width: 62px;" class="label111"
                                                            for="customradio">Custom</label>
                                                    </span>
                                                </span>
                                                <a class="help-bod" id="gender-help" href="#"
                                                    title="Click for more information" role="button">
                                                    <i class="help-gender"></i>
                                                </a>
                                            </div>
                                            <div class="termsagreement">
                                                <p class="paragraph">By clicking Sign Up, you agree to our
                                                    <a href="#" id="terms-link">Terms</a>,
                                                    <a href="#" id="privacy-link">Data Policy</a> and
                                                    <a href="#" id="cookie-use-link">Cookies Policy</a>.
                                                    You may receive SMS Notifications from us and can opt out any time.
                                                </p>
                                            </div>
                                            <div class="signupsection">
                                                <button type="submit" class="sign-up-btn signupbtn-backgroundborder"
                                                    name="websubmit" id="u_0_y">Sign Up</button>

                                            </div>
                                        </form>
                                    </div>
                                    <div class="pages">
                                        <a style="height: 17.4167px" href="#">Create a Page</a> for a
                                        celebrity, band or business.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-footer">
                    <div class="inside-footer">
                        <ul class="language-section">
                            <li>English (US)</li>
                            <li><a href="#" title="Nepali">नेपाली</a></li>
                            <li><a href="#" title="Hindi">हिन्दी</a></li>
                            <li><a href="#" title="Spanish">Español</a></li>
                            <li><a href="#" title="Spanish">Português (Brasil)</a></li>
                            <li><a href="#" title="Spanish">日本語</a></li>
                            <li><a href="#" title="Spanish">Français (France)</a></li>
                            <li><a href="#" title="Spanish">Deutsch</a></li>
                            <li><a href="#" title="Spanish">Italiano</a></li>
                            <li><a href="#" title="Spanish">العربية</a></li>
                            <li><a href="#" title="Spanish">中文(简体)</a></li>
                            <li><a href="#" class="addlang" title="Show more languages"><i class="img-add"></i></a></li>
                        </ul>
                        <div class="contentCurve"></div>
                        <div role="contentinfo">
                            <ul class="final-footer">
                                <li><a href="#" title="Sign Up for Facebook">Sign Up</a></li>
                                <li><a href="#" title="Log into Facebook">Log In</a></li>
                                <li><a href="#" title="Check out Messenger.">Messenger</a></li>
                                <li><a href="#" title="Facebook Lite for Android.">Facebook Lite</a></li>
                                <li><a href="#" title="Browse our Watch videos."> Watch </a></li>
                                <li><a href="#" title="Browse our people directory.">People</a></li>
                                <li><a href="#" title="Browse our profiles directory.">Profiles</a></li>
                                <li><a href="#" title="Browse our pages directory.">Pages</a></li>
                                <li><a href="#">Page Categories</a></li>
                                <li><a href="#" title="Browse our events directory.">Events</a></li>
                                <li><a href="#" title="Check out popular places on Facebook.">Places</a></li>
                                <li><a href="#" title="Check out Facebook games.">Games</a></li>
                                <li><a href="#" title="Browse our places directory.">Locations</a></li>
                                <li><a href="#" title="Browse our marketplace product directory.">Marketplace</a></li>
                                <li><a href="#" title="Browse our Groups directory.">Groups</a></li>
                                <li><a href="#" title="Check out Instagram">Instagram</a></li>
                                <li><a href="#" title="Browse our Local Lists directory.">Local</a></li>
                                <li><a href="#" title="Donate to worthy causes.">Fundraisers</a></li>
                                <li><a href="#" title="Browse our Facebook Services directory.">Services</a></li>
                                <li><a href="#"
                                        title="Read our blog, discover the resource center, and find job opportunities.">About</a>
                                </li>
                                <li><a href="#" title="Advertise on Facebook.">Create Ad</a></li>
                                <li><a href="#" title="Create a Page">Create Page</a></li>
                                <li><a href="#" title="Develop on our platform.">Developers</a></li>
                                <li><a href="#" title="Make your next career move to our awesome company.">Careers</a>
                                </li>
                                <li><a href="#" title="Learn about your privacy and Facebook.">Privacy</a></li>
                                <li><a href="#" title="Learn about cookies and Facebook.">Cookies</a></li>
                                <li><a href="#" title="Learn about Ad Choices.">
                                        Ad Choices
                                        <i class="adchoice"></i>
                                    </a></li>
                                <li><a href="#" title="Review our terms and policies.">Terms</a></li>
                                <li><a href="#">Account Security</a></li>
                                <li><a href="#">Login Help</a></li>
                                <li><a href="#" title="Visit our Help Center.">Help</a></li>
                                <li><a href="#" title="View and edit your Facebook settings.">Settings</a></li>
                                <li><a href="#" title="View your activity log">Activity Log</a></li>
                            </ul>
                        </div>
                        <div class="copyright">
                            <div><span class="copyright-fb"> Facebook © 2019</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>