$color_1: #369;
$color_2: #444;
$color_3: #333;
$font_family_1: Arial, Helvetica, sans-serif;
$font_family_2: Cambria, Georgia, sans-serif;

/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
/* everywhere else */
h1 {
	color: $color_1;
	font-family: $font_family_1;
	font-size: 250%;
}
h2 {
	color: $color_2;
	font-family: $font_family_1;
	font-weight: lighter;
}
h3 {
	color: $color_2;
	font-family: $font_family_1;
	font-weight: lighter;
}
body {
	margin: 2em;
	color: $color_3;
	font-family: $font_family_2;
}
input[type="text"] {
	color: $color_3;
	font-family: $font_family_2;
}
button {
	color: $color_3;
	font-family: $font_family_2;
}
* {
	font-family: $font_family_1;
}
