<h2 class="container-fluid">Edit a Existing User</h2>

<form class="container"  [formGroup]="edit_user_form" (ngSubmit)="onSubmit()">

    <label for="id_username">Username</label>
    <input id="id_username" type="text" formControlName="username" >
    <br>
    <label for="id_email">Email</label>
    <input id="id_email" type="text" formControlName="email"  >
    <br>
    <label for="id_firstname">First Name</label>
    <input id="id_firstname" type="text" formControlName="first_name">
	  <br>
    <label for="id_lastname">Last Name</label>
    <input id="id_lastname" type="text" formControlName="last_name" >
	  <br>
    <button type="submit">Update User</button>
</form>
