{% extends 'base/base.html' %}
{% load static %}
{% block content %}
<table id="table" class="display table table-bordered" style="width:100%">
    <thead class="alert-success">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No.</th>
            <th>CV</th>
            <th>Batch</th>
            <th>Motivation</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    {% for applicant in object_list %}
{#        {{ applicant.cv }}#}
        <tr>
            <td><a  style="text-decoration: none;font-size: large; font-weight: bold;color: black;" href="/details/{{ applicant.id }}">{{ applicant.fullname }}</a></td>
            <td>{{ applicant.email }}</td>
            <td>{{ applicant.tel }}</td>



            <td><a href="{{ MEDIA_URL }}{{ applicant.cv.url }}">CV</a></td>
{#            <h1>{{ applicant.cv.url }}</h1>#}
            <td>{{ applicant.batch }}</td>
            <td>{{ applicant.motivation }}</td>

{#            <td><a style="text-decoration: none;"  href="{% url "applicant_detail"  contact.id  %}">details</a></td>#}
            <td><a style="text-decoration: none;" href="/list/{{ applicant.id }}"><input style="color: #4080ff" class="close" type="button" value="Edit"></a></td>
            <td><a  style="text-decoration: none;" href="/delete/{{ applicant.id }}"><input style="color: red;" name="delete" type="button" class="close" data-dismiss="alert" value="Delete"></a></td>


        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
{#            <th>Name</th>#}
{#            <th>Email</th>#}
{#            <th>Phone No.</th>#}
{#            <th>Motivation</th>#}
        </tr>
    </tfoot>
</table>
{% endblock %}


{#onclick="return confirm('Are you sure you want to delete {{ applicant.fullname }} ?')"#}