{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insight Workshop Mockup</title>
    <link rel="stylesheet" href="{% static 'css/button.css' %}">

</head>
<body>



<a class="push_button red" href="/create/">New Application</a> <a class="push_button blue" href="/list/">List Applicants</a>



</body>
</html>