<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <h1>Applicant Details</h1>

    <p>Name: {{applicant.fullname}}</p>
    <p>Email: {{applicant.email}}</p>
    <p>Phone: {{applicant.tel}}</p>
    <p> Cv: <a href="{{ MEDIA_URL }}{{ applicant.cv }}">CV</a></p>
    <p>Batch: {{ applicant.batch }}</p>

    <p>Motivation: {{applicant.motivation}}</p>

</body>
</html>