<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{#    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>#}

{#    <script src="sweetalert2.min.js"></script>#}
{#    <link rel="stylesheet" href="sweetalert2.min.css">#}
</head>
<body>

{#<script type="text/javascript">#}
{#x = confirm('Are You Sure you want to delete "{{ applicant.fullname }}" ');#}
{#alert(x);#}
{#</script>#}
{#    <div>#}
        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ applicant.fullname }}"?</p>
        <input type="submit" value="Confirm">
            </form>
{#    </div>#}
{#<script>#}
{#    $("document").ready( function () {#}
{#        confirm("Hello, world");#}
{#    });#}
{#</script>#}
</body>
</html>