{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>
        Inshight Form Mockup
    </title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

</head>

<body>
    <div class="container" >
        <h3>Application Form</h3>
        <br>
        <br>
        <div >
        <form method="POST" name="myform">
{#            <div class="form-group form-control form-control-lg ">#}

            {{ form.as_p }}
{#            </div>#}

{#            <div class="form-group">#}
{#                <label for="name">Full Name</label>#}
{#                <input value="{{ applicant.fullname }}" class="form-control form-control-lg font-size-md" name="myname" type="text" id="fullname"#}
{#                    placeholder="Your full Name">#}
{#                <small id="div1" class="text-danger"></small>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="contact">How can we contact you?</label>#}
{#                <div class="row">#}
{#                    <div class="col">#}
{#                        <input value="{{ applicant.email }}"  class="form-control form-control-lg" class="form-control" name="myemail" id="email"#}
{#                            placeholder="Email">#}
{#                        <small id="div2" class="text-danger"></small>#}
{#                    </div>#}
{#                    <div class="col">#}
{#                        <input value="{{ applicant.tel }}"  class="form-control form-control-lg" type="tel" name="tel" class="form-control" id="tel"#}
{#                            placeholder="Mobile Number">#}
{#                        <small id="div3" class="text-danger"></small>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="cv">CV or Resume <small id="opt" class="text-muted "> (optional) </small></label>#}
{#                <div class="custom-file">#}
{#                    <input value="{{ applicant.cv }}" name="cvfile" type="file" class="custom-file-input" id="cv">#}
{#                    <small id="div5" class="text-danger"></small>#}
{#                    <label class="custom-file-label" for="cv">Choose File</label>#}
{##}
{#                </div>#}
{#                <small id="filehelp" class="form-text text-muted">We accept pdf only.</small>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label class="font-size-lg" for="batch">Which batch are you interedted?</label>#}
{#                <div class="form-check">#}
{#                    <input value="{{ applicant.batch }}" type="checkbox" class="form-check-input" name="defaultcheckbox" id="defaultcheckbox1">#}
{#                    <label class="form-check-label" for="defaultcheckbox1"> October 2019</label>#}
{#                </div>#}
{#                <div class="form-check">#}
{#                    <input value="{{ applicant.batch }}" type="checkbox" class="form-check-input" name="defaultcheckbox" id="defaultcheckbox2">#}
{#                    <label class="form-check-label" for="defaultcheckbox2"> January 2019</label>#}
{#                </div>#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label class="font-size-lg" for="frmmotivation">Motivation</label>#}
{#                <textarea value="{{ applicant.textarea }}" type="text" name="textarea" class="form-control form-control-lg font-size-md" id="frmmotivation"#}
{#                                                             placeholder="Share us your motivation to take part in this program."></textarea>#}
{#                <small id="div4" class="text-danger"></small>#}
{#            </div>#}
{#            <div id="submit_btn" class="text-center">#}
{#            </div>#}

            <button id="sbtn" value="Submit" style="margin-bottom: 20px;"
            class="btn btn-outline-primary btn-lg px-sm-5" type="submit">Apply</button>
            {% csrf_token %}

        </form>
        </div>

    </div>
</body>

</html>